@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
    font-family: 'Pretendard';
    font-weight: 400;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }
}

.RealTimeClock {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

}
